#setavoltar{
    display: flex;
}
#btn-cancelar{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
#btn-cadastrar{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.btn-postt{
    width: 22rem;
    display: flex;
    justify-content: space-around;
}