.btn-edit {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid red
}
.btn-cancelar {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid red;
    
}
.botoes{
    display: flex;
    justify-content: space-around;
    width: 130%;
    border: 1px solid red;
}