main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}

.card-post-equipe {
    background-color: #21222D;
    padding: 30px 70px;
    border-radius: 15px;
}

.card-post-equipe h1{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    color: #fff;

    border-bottom: 2px solid #A4A4A4;
    font-size: 3rem;
    margin-bottom: 5px;
}


.card-body-post-equipe {
    margin-top: 25px;

}

.fieldsequipe {
    margin-bottom: 20px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;

    color: #D2DAF5;

    font-family: Poppins;
}

input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 45px;
}

textarea {
    height: 190px;
    resize: none;

    padding-top: 10px;
}

.btn-post-equipe{
    margin-top: 30px;
    text-align: center;
    width: 24rem;
    display: flex;
    justify-content: space-around;

}

.btn-post-equipe button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #2684FF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    color: rgb(240, 47, 47);
}

#menuEquipe-pageequipe{
    background: #2F3644;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 36px;
    border: none;
}
#menuEquipe-pageequipe::-webkit-scrollbar {
    background: #171821;
    width: 7px;
}

#menuEquipe-pageequipe::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}
#btn-cancelarE{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #BABABA;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    
}
#avatar-eq-pagecadastro{
    width: 11vh;
    height: 11vh;
}
.card-Avatar{
    height: 7rem;
    display: flex;
    justify-content: center;
}