.cardequipe{
    display: flex;
    width: 13%;
    justify-content: center;
    padding: 1%;
    
    
}
#filtror input{
    width: 90%;
    margin-left: 119%;
    height: 32px;
    margin-top:10.5%;
 }
 
 #filtroebtnl{
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin-top: 5%;
 }
 /*/*//*///////////////////////////////////////////////////////*/

#card-prin-eq{
    background: #21222D;
    width: 12rem;
    height: 13rem;
    border-radius: 2rem;
  
}
#geraleq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}
#link-eq{
    text-decoration: none;
}