.cardequipe {
    display: flex;
    width: 13%;
    justify-content: center;
    padding: 1%;

}



/*/*/
/*///////////////////////////////////////////////////////*/

#card-prin-eq {
    background: #21222D;
    width: 12rem;
    height: 11rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    transition: translateY(10px);
    opacity: 1;
    transition: 0.5s;
    
}

#card-prin-eq:hover {
    transform: translateY(0px);
    opacity: 120;
}

#icon-nomeequipe-pegeequipe {
    transform-style: preserve-3d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.5%;
    z-index: 11;

}

#nome-equipe-pege-equioe {
    width: 10rem;
    margin-top: -28%;
    text-align: center;
    color: #fff;
}

#filtro-equipe {
    background: rgba(33, 34, 45, 0.5);
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    width: 25rem;
    height: 2.4rem;
    align-items: center;
}


#geraleq {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    height: 40rem;


}

#geraleq::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}

#just-equipes {

    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecario-equipe {

    display: flex;
    justify-content: center
}

#filtroebtn-page-equipe {
    height: 7rem;
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

#geraleq::-webkit-scrollbar {
    background: #171821;
    width: 8px;
}

.link-eq {
    text-decoration: none;
}

#icon-group-page-equipes {
    color: #fff;
    font-size: 6rem;
    font-weight: 300;


}

.btn-adicionarequipe {
    background: rgba(164, 164, 164, 0.12);
    border-radius: 60px;
    width: 12rem;
    height: 45px;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    margin-bottom: 1%;
    margin-left: 1%;
}