#body {
    background: #1D242E;
    height: 100vh;
}

#geral {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

/* Parte do home lado esquerdo onde contem os 3 cards de contadador pessoas, contador
projeto e contador task*/

/*----------------------------------------------------------card geral de fundo-------------------------------------------------------*/
#cards {
    width: 94%;
    height: 50rem;
    margin-left: 2%;
    border-radius: 1rem;
    margin-top: 2%;


}

#geral-graficoum {
    width: 64rem;
   height: 25rem;
    padding: 1%;
    background: #21222D;
    border-radius: 0.5rem;

}

#nome-projeto-pagina-homep {
    color: #ffff;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 5%;
}



#data-projeto-pagehome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 14px;
    margin-top: 3%;
    color: #7A7585;
}

#card-projeto-pagina-home {
    background: #171821;
    border-radius: 8px;
    height: 5.5rem;
    width: 13rem;
    margin-left: 1%;

}

#col1-quant {
    display: flex;
    justify-content: space-around;
}

#col2-quant {
    display: flex;
    justify-content: space-around;
}

.card-quant-pessoa {
    background: #21222D;
    border-radius: 10px;
    width: 100%;
    height: 12.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5%;

}

#format-cards-contadores{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40rem;
    height: 25rem;
    border: 1px solid blueviolet;
}

.body-card-home-pro{
    border: 1px solid blueviolet;
    background: #21222D;
    border-radius: 1rem;
    width: 18rem;
    margin-bottom: 1rem;
    height: 11.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
  
}
.org{
    border: 1px solid blueviolet;
   
}
#cont-quant-projetos {
   
    display: flex;
    width: 98%;
    height: 95%;
    flex-wrap: wrap;
    justify-content: center;
    

}
#cont-quant-equipes {
   
    display: flex;
    width: 98%;
    height: 95%;
    flex-wrap: wrap;
    justify-content: center;
    

}
#container-quantidade-task {
    border: 1px solid #21222D;
    display: flex;
    width: 98%;
    height: 95%;
    flex-wrap: wrap;
    justify-content: center;
    

}



#total-pessoas-page-home {
    color: #D9D9D9;
    font-size: 2.3rem;
    margin-left: -18%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24%;
}

#total-projetos-page-home {
    color: #D9D9D9;
    font-size: 2.3rem;
    margin-left: -18%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24%;
}
#total-equipes-page-home {
    color: #D9D9D9;
    font-size: 2.3rem;
    margin-left: -16%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24%;
}
#total-de-tasks-pagina-home-h {
    color: #D9D9D9;
    font-size: 2.3rem;
    margin-left: -15%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24%;
}

.icon-quant-pessoa-home {
    color: #2684FF;
    width: 2.5rem;
    height: 1.8rem;
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
   
}
#icon-quant-projetos-home {
    color: #2684FF;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    margin-top: 80%;
}
.colorfff{
    color: #fff;
}
#icon-quant-equipes-home {
    color: #2684FF;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    margin-top: 80%;
}
#icon-quant-task-page-home {
    color: #2684FF;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.9rem;
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    margin-top: 80%;
    margin-left: 8%;
    font-size: 0.4rem;
}

#card-quant-projetos {
    background: #21222D;
    border-radius: 10px;
    width: 248px;
    height: 12.3rem;
}

#card-quant-equipes {
    background: #21222D;
    border-radius: 10px;
    width: 248px;
    height: 12.3rem;
}
#card-quant-de-tasks {
    background: #21222D;
    border-radius: 10px;
    width: 248px;
    height: 12.3rem;
}



#header-card-projeto-pagina-home {
    width: 30rem;
    margin-left: -2%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.8rem;
    color: #fff;

}

#container-geral {
    width: 60%;
    margin-left: 0.1px;
    height: 80vh;
}

#container-geral-dois-home {
    width: 38%;
    height: 88vh;
}

#titulo-card-usuario-home {
    color: #fff;
    margin-left: 2.7%;

    display: flex;
    justify-content: space-between;
}

#render-projetos-conc-home {
    width: 61rem;
    display: flex;
    justify-content: center;
    border: none;
    background: #21222D;
    color: #FFFFFF;
}

#render-pessoas-home {
    background: #21222D;
    height: 25rem;
    width: 40%;


}

#ul-pessoa {
    overflow: auto;
    height: 19rem;

}
#ul-projeto{
    overflow: auto;
    height: 19rem;
}
#ul-projeto::-webkit-scrollbar {
    background: #21222D;
    width: 8px;

}

#ul-projeto::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;

}

#li-pessoa {
    background: #21222D;
    color: #fff;
    border: 0;
    margin-top: 6.5%;
    border-bottom: 1px solid rgba(164, 164, 164, 0.12);
}
#li-projeto{
    display: flex;
    justify-content: space-between;
    background: #21222D;
    color: #fff;
    border: 0;
    margin-top: 4%;
    border-bottom: 1px solid rgba(164, 164, 164, 0.12);
}

#ul-pessoa::-webkit-scrollbar {
    background: #21222D;
    width: 8px;

}

#ul-pessoa::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;

}

#ul-card {
    background: #21222D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    border-bottom: 2px solid rgba(164, 164, 164, 0.12);
    display: flex;
    justify-content: space-between;
    margin-top: -5%;
}

#btn-ver-mais-projeto {
    width: 4rem;
    height: 1.5rem;
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #2684FF;
}

#btn-ver-usuario-projeto {
    width: 5rem;
    height: 1.5rem;
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #2684FF;
}

#caixa-geral-projetos-home {
    background: #21222D;
    border-radius: 10px;
    width: 60.5%;
    height: 41vh;
  
}

#caixa-geral-home-um {
    width: 100%;
    height: 90vh;
    border: 1px solid red;
    display: block;
}
#projeto-geralcont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 5rem;
    border: 1px solid blue;
    height: 50%;
  
}

#projeto-geralcontdois{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-width: 5rem;
    border: 1px solid blue;
    height: 27rem;
    margin-top: 2.3%;
}

#caixa-dois-home {
    width: 100rem;
    height: 28rem;
    margin-left: -16.3%;

}

#sla {
    width: 34rem;
    height: 40vh;
    margin-left: -20rem;
    margin-top: 10%;
}

#container-geralum {
    width: 45%;
    background: #21222D;
    border-radius: 10px;

}


#just-card-projetos-page-home {
    width: 88%;
    height: 25rem;
    margin-left: 6%;
    margin-top: 11%;

}



/*------------------------------------------------------------------------------------------------------------------------------*/
/*card pessoas*/
#cardum {
    width: 30%;
    height: 24rem;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 0.5rem;
}

#cardum h3 {
    color: beige;
    margin-left: 7%;
    font-size: 2rem;
}



#carddois h3 {
    color: beige;
    margin-left: 8%;
    font-size: 1.9rem;
    margin-top: 1%;
}

#cardtres h3 {
    color: beige;
    margin-left: 9%;
    margin-top: 13.5%;
}

.amarelo {
    color: #BABABA;

}

#calendario {
    width: 30em;
    background: #21222D;
    height: 20.5rem;
    align-items: center;
    margin-top: 1.3%;
    border-radius: 1rem;
    margin-left: -30%;
}

#projetos-concluidos-page-home {
    background: #21222D;
    width: 30rem;
    margin-left: 71%;
    margin-top: -47%;
    height: 54.3rem;
    border-radius: 1rem;
}

#title-card-projeto-paginahome {
    color: #FFFFFF;
    margin-left: 6%;
    font-size: 1.6rem;
    position: relative;

}

#totalp1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 7%;
}

#totalp2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 0.2%;
    margin-left: 7%;
}

#totalp3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 6%;
    margin-left: 8%;
}

#carddois {
    width: 30%;
    border-radius: 0.5rem;
    margin-left: 35.5%;
    height: 23rem;
    margin-top: -59.5%;
}

#cardtres {
    width: 30%;
    height: 23rem;
    border-radius: 0.5rem;
    margin-left: 68%;
    margin-top: -59.5%;
}




#iconpeoplefill {
    width: 7rem;
    height: 8.3rem;
    font-weight: 20rem;
    margin-top: 20%;
    margin-left: 5%;
}



.sabermais {
    display: flex;
    justify-content: flex-end;
    color: #A0A0A0;
    font-size: 0.9rem;
    text-decoration: none;
    margin-right: 3%;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

@media (min-width: 1040px) {
    #caixa-geral-home{
        border: 10px solid royalblue;
    }
}
