#body {
    background: #1D242E;
    height: 100vh;
}

#geral {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

/* Parte do home lado esquerdo onde contem os 3 cards de contadador pessoas, contador
projeto e contador task*/

/*----------------------------------------------------------card geral de fundo-------------------------------------------------------*/
#cards {
    width: 94%;
    height: 50rem;
    margin-left: 2%;
    border-radius: 1rem;
    margin-top: 2%;


}

#geral-graficoum {
    width: 68%;
    height: 27rem;
    padding: 1%;
    margin-top: 1%;
    background: #21222D;
    margin-left: 1%;
    border-radius: 0.5rem;
}

#geral-graficoum h2 {
    color: #ffff;
}


#graficoum-page-home {
    margin-top: 5%;
    border: 1px solid red;

}

#nome-projeto-pagina-homep {
    color: #ffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 3%;

}

#data-projeto-pagehome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 14px;
    margin-top: 3%;
    margin-left: 3%;
    color: #7A7585;
}

#card-projeto-pagina-home {
    background: #171821;
    border-radius: 8px;
    width: 100%;
    height: 5rem;
    margin-bottom: 1%;
    border-left: 4px solid #00DB99;
}

#just-card-projetos-page-home {

    width: 88%;
    height: 25rem;
    margin-left: 6%;
    margin-top: 11%;

}



/*------------------------------------------------------------------------------------------------------------------------------*/
/*card pessoas*/
#cardum {
    width: 30%;
    height: 24rem;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 0.5rem;
}

#cardum h3 {
    color: beige;
    margin-left: 7%;
    font-size: 2rem;
}

#graficoecards {

    display: flex;
    width: 69%;
}

#carddois h3 {
    color: beige;
    margin-left: 8%;
    font-size: 1.9rem;
    margin-top: 1%;
}

#cardtres h3 {
    color: beige;
    margin-left: 9%;
    margin-top: 13.5%;
}

.amarelo {
    color: #BABABA;

}

#calendario {
    width: 30em;
    background: #21222D;
    height: 20.5rem;
    align-items: center;
    margin-top: 1.3%;
    border-radius: 1rem;
    margin-left: -30%;
}

#projetos-concluidos-page-home {
    background: #21222D;
    width: 30rem;
    margin-left: 71%;
    margin-top: -47%;
    height: 54.3rem;
    border-radius: 1rem;
}

#title-card-projeto-paginahome {
    color: #FFFFFF;
    margin-left: 6%;
    font-size: 1.6rem;
    position: relative;

}

#totalp1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 7%;
}

#totalp2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 0.2%;
    margin-left: 7%;
}

#totalp3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 6%;
    margin-left: 8%;
}

#carddois {
    width: 30%;
    border-radius: 0.5rem;
    margin-left: 35.5%;
    height: 23rem;
    margin-top: -59.5%;
}

#cardtres {
    width: 30%;
    height: 23rem;
    border-radius: 0.5rem;
    margin-left: 68%;
    margin-top: -59.5%;
}

#corpograf2 {
    border: 9px solid red;
}


#iconpeoplefill {
    width: 7rem;
    height: 8.3rem;
    font-weight: 20rem;
    margin-top: 20%;
    margin-left: 5%;
}

#icontask-pagehome {
    width: 9rem;
    height: 6.3rem;
    font-weight: 20rem;
    margin-top: 32%;
    margin-left: 1%;
}

#FiFile {
    width: 5.1rem;
    height: 9rem;
    margin-left: 9%;
    margin-top: 18%;

}

.sabermais {
    display: flex;
    justify-content: flex-end;
    color: #A0A0A0;
    font-size: 0.9rem;
    text-decoration: none;
    margin-right: 3%;
}

@media (max-width: 2000px) {
    #cards {
        width: 45rem;
        margin-left: 2%;
        height: 20rem;

    }

    /*card um*/
    #cardum {
        width: 12rem;
        height: 17rem;

    }

    #iconpeoplefill {
        width: 5.5rem;
        margin-left: 7%;
        margin-top: -5%;
    }

    #totalp1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        display: flex;
        text-align: start;
        justify-content: center;
        width: 85%;
        margin-top: -8%;
        margin-left: 7%;
    }

    #cardum h3 {
        color: beige;
        margin-left: 7%;
        font-size: 1.3rem;
        margin-top: -5%;
    }

    /*card dois*/
    #carddois {
        width: 12rem;
        height: 17rem;
        margin-top: -37.7%;
    }

    #FiFile {
        width: 3.8rem;
        margin-left: 7%;
        margin-top: -8%;

    }

    #totalp2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        display: flex;
        text-align: start;
        justify-content: center;
        width: 85%;
        margin-top: -10%;
        margin-left: -1.4%;
    }

    #carddois h3 {
        color: beige;
        margin-left: 7%;
        font-size: 1.3rem;
        margin-top: -5%;
    }

    #cardtres {
        width: 12rem;
        height: 17rem;
        margin-top: -38.1%;
    }

    #icontask-pagehome {
        width: 4.6rem;
        margin-left: 7%;
        margin-top: 7%;
    }

    #totalp3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        display: flex;
        text-align: start;
        justify-content: center;
        width: 85%;
        margin-top: -3%;
        margin-left: 6%;
    }

    #cardtres h3 {
        color: beige;
        margin-left: 7%;
        font-size: 1.3rem;
        margin-top: -3.5%;
    }

    #projetos-concluidos-page-home {
        width: 30rem;
        margin-left: 71%;
        margin-top: -42.3%;
        height: 49rem;
        border-radius: 1rem;
    }

    #calendario {
        width: 34%;
        margin-left: -2%;
    }
}