body{
    background: #1D242E;
    height: 100vh;
}

#container{
    margin-left: 10%;
    margin-top: -4%;
}
#imginicio{
    display: flex;
    margin-top: 1%;
}
#geral{
    display: flex;
    justify-content: space-between;
    width: 92%;
}
#textogeral h1{
    color: beige;
    margin-top: 0.5%;
    margin-left: 2.8%; 
}
#textogeral h5{
    color: #A0A0A0;
    margin-top: 0.5%;
    margin-left: 2.8%; 
}
#cards{
    width: 45%;
    height: 300px;
    margin-left: 1%;
    border-radius: 1rem;
    margin-top: 2%;
}
#pritext h1{
    color: #28AEF3;
    margin-bottom: 2%;
    margin-left: 35%;
}
#pritext h5{
    color: #A0A0A0;
    margin-bottom: 2%;
    margin-left: 35%;
}
#tabela{
    width: 55%;
    height: 300px;
    margin-right: -6.5%;
    border-radius: 1rem;
    margin-top: 2%;
}
#tabela h1{
    color: beige;
    margin-top: 0.5%;
    margin-left: 2.8%; 
}
#tabela h5{
    color: #A0A0A0;
    margin-top: 0.5%;
    margin-left: 2.8%;
}
#cardum{
    width: 28%;
    height: 65%;
    margin-top: 7%;
    margin-left: 3%;
    border-radius: 0.5rem;
}
#cardum h3{
    color: beige;
    margin-left: 8%;
    margin-top: -2%;
   
}
#carddois h3{
    color: beige;
    margin-left: 8%;
    margin-top: -2%;
    
}
#cardtres h3{
    color: beige;
    margin-left: 7%;
    margin-top: 3%;
}
#amarelo{
    color: #E9C46A;
    margin-left: 8%;
    margin-top: 23%;
    text-align:start;
}
#verde{
    color: #A9DFD8;
    margin-left: 8%;
    margin-top: 4%;
}
#rosa{
    color: #F2C8ED;
    margin-left: 8%;
    margin-top: 4%;
}
#carddois{
    width: 28%;
    height: 65%;
    margin-top: -25.6%;
    border-radius: 0.5rem;
    margin-left: 36%;
}

#cardtres{
    width: 28%;
    height: 65%;
    border-radius: 0.5rem; 
    margin-left: 68%;
    margin-top: -25.6%;
}
#iconpeople{
    margin-left: 8%;
    margin-top: 5%;
}
#progress{
    width: 60%;
    height: 580px;
    margin-left: 1%;
    border-radius: 1rem;
    margin-top: 2%; 
}
#concluidas{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5%;
    width: 80%;
    margin-left: 6%;
    
}
#progress h1{
    color: beige;
    margin-top: 0.5%;
    margin-left: 2.8%;
}
#progress h5{
    color: #A0A0A0;
    margin-top: 0.5%;
    margin-left: 2.8%;
}
#taskum{
    width: 20%;
}
#taskdois{
    width: 20%;
}
#tasktres{
    width: 20%;
}
#pc{
    width: 35%;
    height: 580px;
    border-radius: 1rem;
    margin-top: 2%;
    margin-right: 2%;
}
#pc h2{
   color: beige;
    margin-top: 2%;
    margin-left: 2.8%;
}
#pc h5{
    color: #A0A0A0;
    margin-bottom: 2%;
    margin-left: 2.8%;
}
#geraltwo{
    display: flex;
    justify-content: space-between;
}

#iconpeoplefill{
    margin-left: 10%;
    margin-top: 5%;
}
#iconprojeto{
    margin-left: 5.5%;
    margin-top: 7.7%;
}
#sabermais{
    margin-left: 70%;
    margin-top: -24%;
    color: #A0A0A0;
    font-size: 0.7rem;
}