#body {
    background: #1D242E;
    height: 100vh;
}

#geral {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

/* Parte do home lado esquerdo onde contem os 3 cards de contadador pessoas, contador
projeto e contador task*/

/*----------------------------------------------------------card geral de fundo-------------------------------------------------------*/
#cards {
    width: 45%;
    height: 26rem;
    margin-left: 1%;
    border-radius: 1rem;
    margin-top: 2%;
}

#geral-graficoum {
    width: 68%;
    height: 30rem;
    padding: 1%;
    margin-top: 1%;
    background: #21222D;
    margin-left: 1%;
    border-radius: 0.5rem;
}

#graficoum-page-home {
    margin-top: 5%;
    border: 1px solid red;
}

/*------------------------------------------------------------------------------------------------------------------------------*/



/*card pessoas*/
#cardum {
    width: 28%;
    height: 23rem;
    margin-top: 2.5%;
    margin-left: 3%;
    border-radius: 0.5rem;
}

#cardum h3 {
    color: beige;
    margin-left: 7%;
    font-size: 2rem;
}

#carddois h3 {
    color: beige;
    margin-left: 8%;
    font-size: 1.9rem;
    margin-top: -2%;
}

#cardtres h3 {
    color: beige;
    margin-left: 9%;
    margin-top: 5%;
}

.amarelo {
    color: #E9C46A;

}

#totalp1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 7%;
}

#totalp2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 4%;
    margin-left: 3%;
}

#totalp3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    display: flex;
    text-align: start;
    justify-content: center;
    width: 70%;
    margin-top: 6%;
    margin-left: 8%;
}

#carddois {
    width: 28%;
    border-radius: 0.5rem;
    margin-left: 36%;
    height: 23rem;
    margin-top: -38.5%;
}

#cardtres {
    width: 28%;
    height: 23rem;
    border-radius: 0.5rem;
    margin-left: 68%;
    margin-top: -38.5%;
}



#iconpeoplefill {
    width: 11rem;
    height: 8.3rem;
    font-weight: 20rem;
    margin-top: 20%;

}

#icontask-pagehome {
    width: 9rem;
    height: 6.3rem;
    font-weight: 20rem;
    margin-top: 32%;
    margin-left: 1%;
}

#FiFile {
    width: 5.3rem;
    height: 9rem;
    margin-left: 9%;
    margin-top: 18%;

}

.sabermais {
    display: flex;
    justify-content: flex-end;
    color: #A0A0A0;
    font-size: 0.9rem;
    text-decoration: none;
    margin-right: 3%;
}

@media (max-width: 2040px) {
    #cards {
        width: 45rem;
        margin-left: 2%;
        height: 20rem;
        border: 1px solid red;

    }

    #cardum {
        border: 1px solid red;
        width: 11rem;
        height: 17rem;

    }

    #iconpeoplefill {
        width: 6rem;
        margin-left: 7%;
        margin-top: -1%;

    }

    #totalp1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        display: flex;
        text-align: start;
        justify-content: center;
        width: 85%;
        margin-top: 0.2%;
        margin-left: 7%;
    }

    #cardum h3 {
        color: beige;
        margin-left: 7%;
        font-size: 1.5rem;
        margin-top: -7%;
    }
}