#geralparteum h1{
    color: #28AEF3;
    margin-left: 2.8%;
  
}
#geralparteum h6{
    color: #A0A0A0;
    margin-top: 8%;
    margin-left: 2%;
    width: 95%;
    font-size: 1.4rem;
    text-align: justify;
}
#geralparteum h4{
    color: #A0A0A0;
    margin-top: 4%;
    margin-left: 2%;
    width: 90%;
}
#geralparteum{
    background: #21222D;
    width: 30%;
    border-radius: 2rem;
    height: 550px;
    margin-left: 9%;
    margin-top: -23.5%;
}
#integrantes{
    background: #21222D;
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;
    height: 480px;
}
#integrantes h1{
    color: #28AEF3;
    margin-left: 2%;
}
#integrantes h5{
    color: #A0A0A0;
    margin-left: 2%;
}
#membros{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    width: 100%;
}
#linguagens{
    background: #21222D;
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;
    height: 350px;
}
#linguagens h1{
    color: #28AEF3;
    margin-left: 2%;
  
}
#fram{
    justify-content: center;
    border: 1px solid #E9C46A;
    height: 45%;
    width: 90%;
    margin-top: 3.5%;
    margin-left: 4.9%;
    background: #171821;
    border-radius: 2rem;
}
#linguagens h1{
    margin-top: 2%;
}
#linguagens h5{
    color: #A0A0A0;
    margin-top: 1%;
    margin-left: 2%;
    width: 90%;
}