.btn-edit {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
   
}
.btn-cancelar {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.botoes-edit-pessoa{
    display: flex;
    justify-content: space-around;
    width: 105%;
}
#avatar-cadastro-editar{
    display: flex;
    justify-content: center;
    height: 8rem;
}
#png-icon-cadastro-editar{
    width: 13vh;
    height: 13vh;
}