#card-inspecionar {
    background-color: #21222D;
    padding: 30px 70px;
    border-radius: 15px;
    width: 30%;
    height: 50rem;
}

#card-inspdois {
    background-color: #21222D;
    padding: 30px 70px;
    border-radius: 15px;
    width: 50%;
    height: 50rem;
    margin-left: 5%;
}

#geral-card-inspecionar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

#card-header {
    display: flex;
    justify-content: center;
}

.doneicon {
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    width: 2.6rem;
    display: flex;
    justify-content: center;
    height: 2.1rem;
    color: #2684FF;
    font-size: 2rem;
    align-items: center;
}

.star {
    background: rgba(164, 164, 164, 0.12);
    border-radius: 6px;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1rem;
    color: #2684FF;
    font-size: 1.5rem;

}

.star button:hover path {
    fill: #EB5757;
}

#estatisticaum {
    display: flex;
}

#tasks-feitas-pagepessoa{
    margin-top: -1%;
    color: rgba(186, 186, 186, 0.87);
    width: 5rem;
}
#total-taskfeitas-pagepessoas{
    color: rgba(186, 186, 186, 0.87);
    font-size: 1rem;
}

#estatisticadois {
    display: flex;
}

#geralestatistica {
    display: flex;
    justify-content: space-around;
    margin-left: 30%;
    margin-top: 8%;
    width: 38%;
}

#textoestatistica {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 143%;
    letter-spacing: 0.15px;
    margin-left: 5%;
}

#nome {
    margin-left: 2%;
    margin-top: 8%;
    font-family: Heebo;
    display: flex;
    justify-content: center;
}

#h1-insp-pagina-pessoa-insp{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.87);
}

#detalhes {
    margin-top: 6%;
}

.line-insp {
    height: 2px;
    background-color: #3E445B;
    width: 100%;
    margin-top: 2%;
}

#bodydetalhes {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 157%;
    letter-spacing: 0.1px;
    color: #BABABA;
    margin-top: 4%;
}

.btn-editar button {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 25px;
    color: #fff;
    background-color: #2684FF;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

.btn-excluir button {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 20px;
    color: #fff;
    background-color: #EB5757;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

#botoes-insp {
    display: flex;
    justify-content: space-around;
    width: 55%;
    margin-top: 10%;
    margin-left: 20%;
}

#card-header-insp {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.8);
}

.line-insp-dois {
    height: 2px;
    background-color: #3E445B;
    width: 100%;
    margin-top: 2%;
}

#cards-insp-tasks {
    border: 2px solid green;
    width: 17%;
    height: 23%;
    left: 5%;
    margin-top: 15%;
    background: rgba(186, 186, 186, 0.5);
    opacity: 0.4;
    border-radius: 15px;
}

#file {
    font-size: 2.5rem;
    color: #2684FF;
    width: 70px;
    height: 72px;
    border-radius: 5rem;
    background: rgba(164, 164, 164, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4.6%;
    margin-top: -16%;

}

#voltar-insp {
    color: rgba(186, 186, 186, 0.5);
    display: flex;
    justify-content: flex-start;
    font-size: 1.5rem;
    margin-left: -3%;
}
#btn-addTask-pessoaInsp{
    display: flex;
    justify-content: space-between;
}
.btn-adicionartesk{
    color: #2684FF;
}
#lucas{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
#try{
    display: flex;
    padding: 1rem;
    
}
#cardtask{
    background: rgba(230, 227, 227, 0.5);
    opacity: 0.1;
    color: #fff;
}
#test{
    align-items: center;
}
#titulo{
    color: white;
}
#cor{
    align-items: center;
    display: flex;
    color: #2684FF;
}