.card-inspecionar {
    background-color: #21222D;
    padding: 230px 400px;
    border-radius: 15px;
}
.iconinsp{
    width: 500px;
    color: #2F3644;
    margin-top: -20%;

}
.line {
    height: 2%;
    background-color: #282b3b;
    border: 1px solid red;

}
.bd-inspecionar {
    border: 1px solid red;
}