#header{
     height: 35px;
}
.geralprojeto{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 50%;
    padding: 3%;
    justify-content: space-around;
    margin-top: 12%;
}