#geral-card-inspecionar_equipe{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
#card-inspecionar_equipe{
    border: 2px solid blue;
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
    width: 30%;
    height: 50rem;
}
.line-insp-doiss{
    height: 2px;
    background-color: #3E445B;
    width: 100%;
    margin-top: 5%;
}
#tituloinsp{
    margin-top: 3%;
    margin-bottom: 4%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
#corr{
    color: white;
}
.avatares_Equipe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#seta{
    color: #fff;
}
#btn-opition{
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
}
#btn-excluir{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
#btn-edit{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}