#add button{
    color: #fff;
    margin-top: 1%;
    margin-bottom: 1%;
}
#personperson{
    width: 50%;
    margin-left: 2%;
    margin-top: 4%;
}
#modal{
    border-radius: 1rem;
}
#closeButton{
    color: #fff;
}
 
#table{
    width: 80%;
    margin-left: 8%;
}
#add{
    color: #E9C46A;
    margin-left: 1%;
    margin-top: 2%;
}
#ordemalfa{
    color: #E9C46A;
    margin-left: 94%;
    margin-top: -1.5%;
}
#ordemalfa p{
    font-size: 0.8rem;
    margin-left: 25%;
    margin-top: -21%;
}
#filtrobusca{
    color: #E9C46A;
    margin-left: 60%;
    margin-top: -1.6%;
}
#titulo{
    width: 5%;
}
#titulodois{
    width: 5%;
}
#titulotres{
    width: 5%;
}
#tituloquatro{
    width: 5%;
}
#informativo{
    background-color:  #21222D;
    width: 80%;
    border-radius: 0.8rem;
    height: 3.3rem;
    margin-left: 8%;
    margin-top: 3%;
}
#cadtitle{
    width: 30%;
}
#usuarios{
    display: flex;
    justify-content: flex-end;
    margin-top: -2.6%;
    margin-right: 2.8%;
}
#iconsgeral{
    width: 80%;
    background-color:  #21222D;
    border-radius: 0.8rem;
    height: 2rem;
    margin-left: 8%;
    margin-top: -0.5%;
    margin-bottom: 1%;
}
