#add button{
    color: #fff;
    margin-top: 1%;
    margin-bottom: 1%;
}
#personperson{
    width: 50%;
    
}
#modal{
    border-radius: 1rem;
}
#closeButton{
    color: #fff;
}
 
#table{
    width: 95%;
    margin-left: 2%;
}