#header{
     height: 35px;
}
.geralprojetoc{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 3%;
    justify-content: space-around;
   
}

.statusprojetoh5{
    color: #fff;
    
}
#adicionar{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 25px;
    color: #fff;
    background-color: #A9DFD8;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5%;
  
}
#projetocard{
    padding: 8px;
}

