#input-insp-projeto {
    background: rgba(33, 34, 45, 0.5);
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    width: 20rem;
    height: 2.2rem;
    
}

#iconvoltar-pesquisa {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}

#icon-voltar-projetosconcluidos {
    color: #BABABA;
    font-size: 2rem;
}

#cabecario-geral-pagina-insp-projeto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
}

#botoes-page-inp-projetos {
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 50px;
    margin-bottom: 2rem;
}

.btn-editar-pagina-projeto button {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 25px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 7px;

}

.btn-excluir-pagina-projeto button {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 20px;
    color: #fff;
    background-color: #EB5757;
    border: 0;
    border-radius: 7px;
}

.header-task-mudastatus {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 1rem;
    color: #9E9E9E;
    margin-left: 7%;
    width: 10rem;
}
.header-task-mudastatus-conclu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 1rem;
    color: #9E9E9E;
    margin-left: 7%;
    width: 5rem;
}
.render-footer-card-task {
    margin-left: -2%;
    width: 7.1rem;
    display: flex;
    justify-content: space-between;
}

.people-task {
    color: #717986;
    font-size: 1rem;
}

.header-nome-pessoa {

    font-family: 'Inter';
    font-size: 0.9rem;
    color: #717986;
}

.name-task-inpprojeto {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    margin-left: -2%;

}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.btn-muda-status {
    background: #BABABA;
    opacity: 0.1;
    width: 1.2rem;
    border-radius: 10%;
    height: 1.2rem;
}

.card-color {
    background: #21222D;
    border-radius: 20px;
    height: 150px;
}

.menu-dos-filtros-statusTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
}

.cor-menu-pontos {
    display: flex;
    font-size: 20px;
}


#BarraRolagem {
    height: 600px;
    background: #21222D;
    border-radius: 10px;
    overflow: auto;

}

#BarraRolagem::-webkit-scrollbar {
    background: #171821;
    width: 8px;
    height: 5rem;
}

#BarraRolagem::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 60px;
}

#BarraRolage {
    height: 600px;
    background: #21222D;
    border-radius: 10px;
    overflow: auto;
}

#BarraRolage::-webkit-scrollbar {
    background: #171821;
    width: 8px;
    height: 5rem;
}

#BarraRolage::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 60px;
}

#BarraRolag {
    height: 600px;
    background: #21222D;
    border-radius: 10px;
    overflow: auto;
}

#BarraRolag::-webkit-scrollbar {
    background: #171821;
    width: 8px;
    height: 5rem;
}

#BarraRolag::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 60px;
}

#card-afazer {
    padding: 1%;
    background: #171821;
    border-radius: 8px;
    width: 20rem;

}

#card-desenvolvimento {
    margin-top: 1rem;
    padding: 1%;
    background: #171821;
    border-radius: 8px;
    width: 18rem;
}
#card-desenvolvimento-t{
    margin-top: 1rem;
    padding: 1%;
    background: #171821;
    border-radius: 8px;
    width: 18rem;
}
#card-concl {
    margin-top: 1rem;
    padding: 1%;
    background: #171821;
    border-radius: 8px;
    width: 18rem;
}

#header-status-afazer {
    width: 95%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #fff;
    border-bottom: 3px solid rgba(235, 87, 87, 0.9);
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

#icon-add-task {
    color: #EB5757;
    background: rgba(235, 87, 87, 0.2);
    display: flex;
    width: 24px;
    height: 22px;
    border-radius: 6px;
}

#header-status-desenv {
    width: 95%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #fff;
    border-bottom: 3px solid rgba(233, 196, 106, 0.9);
    display: flex;
    align-items: center;
    padding: 1rem;
}
.status-tarefas{
    background: #171821!important;
    color: #fff!important;
    
}
.status-tarefas:focus{
    background: #171821!important;
    color: #fff!important;
    
}
.status-tarefas:hover{
    background: #171821!important;
    color: #fff!important;
    
}

#btn-tarefas-status{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
}
#icon-redondo-status-desenv {
    color: #E9C46A;
}

#header-status-con {
    width: 95%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #fff;
    border-bottom: 3px solid #C8D9CF;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#icon-redondo-status-con {
    color: #C8D9CF;
}

.campo_comentario{
    
    color: #BABABA;
    border: none!important;
}
.color{
    background: #21222D;
    border: none!important;
}
.pteste{
    font-size: 10px;
}
.stilo-btn{
    background:none ;
    display: flex;
    border: none;
}
.btn-style-generic{
    border:none;
    background: none;
    color: #9E9E9E;
}
.btn-modal-put-status{
    background: none;
}
.btn-novo-style{
    background: none;
}
#color{
  
    border: none;
}
.stilo-card-coment{
    height: 150px;
    margin-bottom: 0.5rem;
    overflow-x: auto;
    border-radius: 1rem;
    background-color:#21222D;
}
#cardtsk{
    height: 40px;
    margin-left: 6px;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    max-width: 90%;
    padding: 0.3rem;
    font-size: 13px;
    background-color: #D9D9D9;
    color: #171821;
    border-radius: 10px;
    justify-content: space-between;
}
#input-coment{
    border-radius: 10px;
    max-width: 90%;
   margin-left: 35PX;
   color: #FFFFFF;
   background-color:#21222D;
}
.btn-put-coment{
    display: flex;
    margin-top: 0.4rem;
    max-width: 70%;
    margin-left: 80px;
    justify-content: space-around;
}

#btn-put-coment-post{
    height: 30px;
    border-radius: 10px;
}
#btn-put-coment-cancel{
    border-radius: 10px;
}
.div-btn-modalEdit{
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin-left: 40px;
}