main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}

.card-post-equipe {
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
}

.card-post-equipe h1{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    color: #D2DAF5;

    font-size: 3rem;
    margin-bottom: 5px;
}

.line-post-equipe {
    height: 2px;
    background-color: #3E445B;
}

.card-body-post-equipe {
    margin-top: 25px;

}

.fieldsequipe {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;

    color: #D2DAF5;

    font-family: Poppins;
}

input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 45px;
}

textarea {
    height: 190px;
    resize: none;

    padding-top: 10px;
}

.btn-post-equipe{
    margin-top: 30px;
    text-align: center;

}

.btn-post-equipe button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    color: rgb(240, 47, 47);
}

#menuEquipe-pageequipe{
    background: #2F3644;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 36px;
    border: none;
}
#menuEquipe-pageequipe::-webkit-scrollbar {
    background: #171821;
    width: 7px;
}

#menuEquipe-pageequipe::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}
#btn-cancelarE{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}