main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}
.card-post {
    background-color: #2F3644;
    padding: 30px 70px;
    border-radius: 15px;
}

.card-post h1{
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    color: #D2DAF5;

    font-size: 3rem;
    margin-bottom: 5px;
}

.line-post {
    height: 2px;
    background-color: #3E445B;
}

.card-body-post {
    margin-top: 25px;

}

.fields {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;

    color: #D2DAF5;

    font-family: Poppins;
}

input, textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 45px;
}

textarea {
    height: 190px;
    resize: none;

    padding-top: 10px;
}

.btn-post{
    margin-top: 30px;
    text-align: center;

}

.btn-post button{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    color: rgb(240, 47, 47);
}
.btn-cancelar-post {
    text-decoration: none;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.botoespost{
    display: flex;
    justify-content: space-between;
    width: 103%;
   
    height: 45px;
}
.btn-post {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    height: 44px;
    margin-top: -0.1%;
}
#chat{
    display: flex;
    justify-content: space-between;
    width: 24rem;
    
}
.butao{
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    
}
#butaoC{
  
    text-decoration: none;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

#menuEquipe-pagepessoa{
    background: #2F3644;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 2.7rem;
    border: none;

}

#menuEquipe-pagepessoa::-webkit-scrollbar {
    background: #171821;
    width: 8px;
}

#menuEquipe-pagepessoa::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}