main {
    display: flex;
    justify-content: center;


    padding: 3rem 0;
}

.card-post {
    background-color: #21222D;
    padding: 30px 70px;
    border-radius: 15px;
}

.seta-titulo {
    display: flex;
    margin: 3px;
    padding: 3px;
}

.card-post h1 {
    font-family: Heebo;
    font-weight: 800;
    text-align: center;

    color: #fff;

    font-size: 3rem;
    margin-bottom: 5px;
    border-bottom: 3px solid rgba(164, 164, 164, 0.12);
}



.card-body-post {
    margin-top: 25px;

}

.fields {
    margin-bottom: 20px;
}

#setar {
    font-size: 20px;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Inter';
}

input,
textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;

    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 45px;
}

textarea {
    height: 190px;
    resize: none;

    padding-top: 10px;
}

.btn-post {
    margin-top: 30px;
    text-align: center;

}

.btn-post button {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #2684FF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}



.error-message {
    color: rgb(240, 47, 47);
}

.btn-cancelar-post {
    text-decoration: none;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.botoespost {
    display: flex;
    justify-content: space-between;
    width: 103%;

    height: 45px;
}

.btn-post {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    height: 44px;
    margin-top: -0.1%;
}

#chat {
    display: flex;
    justify-content: space-between;
    width: 24rem;

}

.butao {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #E9C46A;
    border: 0;
    border-radius: 10px;
    cursor: pointer;

}

#input-pppp {
    background: red;
    width: 10rem;
}

.inputgeral {
    background: rgba(33, 34, 45, 0.5);
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    color: #fff;

}

#butaoC {

    text-decoration: none;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

#menuEquipe-pagepessoa {
    background: #2F3644;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 2.7rem;
    border: none;

}

#barra-de-rolagem-equipe {
    overflow: auto;
    height: 19rem;
}

#barra-de-rolagem-equipe::-webkit-scrollbar {
    background: #171821;
    width: 8px;
}

#barra-de-rolagem-equipe::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}

.ant-select ant-select-single ant-select-show-arrow ant-select-show-search {
    background: rgb(240, 47, 47);
}

.ant-select-selector {
    background: rgba(33, 34, 45, 0.5)!important;
    border: 1px solid #D9D9D9!important;
    border-radius: 6px!important;
    display: flex;
}