main {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.card-post {
    background-color: #21222D;
    padding: 30px 70px;
    border-radius: 10px;
    margin-top: -2%;
}

.fields {
    margin-bottom: 24px;
    margin-top: 6%;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Inter';
}

input,
textarea {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    padding-left: 15px;
}

input {
    height: 45px;
}

textarea {
    height: 190px;
    resize: none;

    padding-top: 10px;
}

.btn-post {
    margin-top: 30px;
    text-align: center;

}

.btn-post button {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #2684FF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}



.error-message {
    color: rgb(240, 47, 47);
}

.btn-cancelar-post {
    text-decoration: none;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #A4A4A4;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.botoespost {
    display: flex;
    justify-content: space-between;
    width: 103%;

    height: 45px;
}

.btn-post {
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 50px;
    color: #fff;
    background-color: #2684FF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    height: 44px;
    margin-top: -0.1%;
}

#chat {
    display: flex;
    justify-content: space-between;
    width: 24rem;

}


.inputgeral {
    background: rgba(33, 34, 45, 0.5);
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    color: #fff;

}

.inputgeral:hover{
    border: 1px solid rgba(38, 132, 255, 0.9);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.inputgeral:focus{
    border: 1px solid rgba(38, 132, 255, 0.9);
    background: rgba(38, 132, 255, 0.05);
}
#butaoC {

    text-decoration: none;
    font-family: Heebo;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px 45px;
    color: #fff;
    background-color: #BABABA;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

#menuEquipe-pagepessoa {
    background: #21222D;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 2.7rem;
    border: none;

}

#barra-de-rolagem-equipe {
    overflow: auto;
    height: 19rem;
}

#barra-de-rolagem-equipe::-webkit-scrollbar {
    background: #171821;
    width: 8px;
}

#barra-de-rolagem-equipe::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
}



.ant-select-selector {
    background: rgba(33, 34, 45, 0.5)!important;
    border: 1px solid #D9D9D9!important;
    border-radius: 6px!important;
    color: #fff;

}

#png-icon-cadastrodepessoas{
    width: 13vh;
    height: 13vh;
}
#icon-folder{
    width: 8vh;
    height: 8vh;
    display: flex;
    align-items: center;
}
#avatar-cadastrar-users{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    
}