/*cabeçalho*/
.cabecalho{
    display:flex;
    justify-content:space-around;
    margin-bottom: 3rem;
}
#teste{
    margin: 2rem;
    padding: 1rem;
}
.input{
    max-width: 40%;
}
#BarraRolagem{
    padding: 1rem;
    overflow: auto;
}
#BarraRolage{
    padding: 1rem;
    overflow: auto;
}
#BarraRolag{
    padding: 1rem;
    overflow: auto;
}
.space{
    padding: 1rem;
}
.H_um{
    font-size:20px;
}
.dropzone{
    padding: 1rem;
}